@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@400;600&display=swap');

body {
    font-family: 'Noto Serif SC', serif;
    background-color: #fafaf9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-ma-shan-zheng {
    font-family: 'Ma Shan Zheng', cursive;
}
